.end_point {
    width: 400px;
    height: 300px;
    background-color: rgb(26, 106, 138);
    border-radius: 20px;
    color: white;
    padding: 20px;
    text-align: center;

    p {
        font-size: 1em;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    h2 {
        cursor: pointer;
        font-size: 2em;
    }

    &_button {
        margin-top: 50px;
    }
}