.start_point {
    width: 400px;
    height: 300px;
    background-color: rgb(26, 106, 138);
    border-radius: 20px;
    color: white;
    padding: 20px;
    text-align: center;

    h2 {
        cursor: pointer;
        font-size: 2em;
    }

    &_button {
        margin-top: 80px;
    }
}